.c-accordion {
    margin: 25px auto 0;
    padding-left: 0
}

.c-accordion li {
    list-style-type: none;
    margin-bottom: 0;
    position: relative
}

.c-accordion li .c-accordion-content {
    display: none
}

.c-accordion li .c-accordion-content li {
    border-bottom: none !important;
    list-style-type: disc
}

.c-accordion li .c-accordion-content ol li {
    list-style-type: decimal
}

.accordion-title {
    display: flex
}

.accordion-title:hover {
    text-decoration: none
}

.c-accordion a.accordion-title {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    font-size: 18px;
    padding-left: 15px !important;
    padding: 15px 25px 15px 0;
    user-select: none;
    width: 100%
}

.c-accordion a.accordion-title h4 {
    margin-bottom: 0
}

.c-accordion a.accordion-title .hs_cos_wrapper {
    padding-right: 10px
}

.c-accordion a.accordion-title:after {
    content: " ";
    height: 12px;
    position: absolute;
    right: 20px;
    top: inherit;
    transform: rotate(-45deg);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    width: 12px
}

.c-accordion .c-accordion-content {
    line-height: 2;
    padding: 10px
}

a.accordion-title.active:after {
    transform: rotate(45deg);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.c-acc-icon {
    align-items: center;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    margin-right: 10px;
    padding: 8px
}

.c-accordion a.accordion-title .c-acc-icon .hs_cos_wrapper {
    padding-right: 0 !important
}

.c-acc-icon svg {
    display: flex
}

@media (max-width:575px) {
    .c-accordion li .c-accordion-content {
        display: none;
        padding: 20px 20px 30px
    }
}